<app-layout [title]="title()" [description]="description()" [addText]="addText()" (add)="onAdd()"
  [(viewDetails)]="viewDetails" [formTitle]="formTitle()" [formDescription]="formDescription()"
  [splitSize]="splitSize()" [addPermission]="addPermission()">
  <ng-container ngProjectAs="main">
    <mat-tab-group>
      <mat-tab>
        <ng-template matTabLabel>
          Trucks ({{ trucks().length }})
        </ng-template>
        <app-data-table [data]="trucks()" [config]="truckTableConfigurations" [loading]="loading()"
          (edit)="onEdit($event)" (view)="onView($event)" [permissions]="permissions()"></app-data-table>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          Trailers ({{ trailers().length }})
        </ng-template>
        <app-data-table [data]="trailers()" [config]="trailerTableConfigurations" [loading]="loading()"
          (edit)="onEdit($event)" (view)="onView($event)" [permissions]="permissions()"></app-data-table>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-container ngProjectAs="form">
    @if (viewType() === 'add') {
    <app-vehicle-form (close)="onCloseForm()"></app-vehicle-form>
    }
    @if (viewType() === 'edit') {
    <app-vehicle-form [vehicle]="selectedVehicle()" (close)="onCloseForm()"></app-vehicle-form>
    }
    @if (viewType() === 'view') {
    <app-vehicle-detail [vehicle]="selectedVehicle()" (close)="onCloseForm()"></app-vehicle-detail>
    }
  </ng-container>
</app-layout>