/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui";
@import '@fortawesome/fontawesome-free/css/all.css';

.primary {
    --color-primary: #327fa8 !important;
}

.bg-base-100 {
    background-color: #ffffff !important;
}

.data-table-container {
    background-color: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.4) !important;
}

.search-input:focus {
    border-color: #60a5fa;
    background-color: #ffffff !important;
}


.search-input {
    background-color: #ffffff !important;
    border-color: #4b5563 !important;
    color: #000000 !important;
}

.empty-row {
    background-color: #ffffff !important;
}

.results-count {
    color: #000000 !important;
}

.pagination-info label {
    color: #000000 !important;
}

.page-counter {
    color: #000000 !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none !important;
}

.no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.mat-mdc-menu-content {
    background-color: #ffffff !important;
}

 .mat-mdc-menu-item .mat-mdc-menu-item-text {
    color: #000000 !important;
 }