<app-layout [title]="title()" [description]="description()" [addText]="addText()" (add)="onAdd()"
  [(viewDetails)]="viewDetails" [formTitle]="formTitle()" [formDescription]="formDescription()" [splitSize]="splitSize()">
  <ng-container ngProjectAs="main">
    <app-data-table [data]="drivers()" [config]="tableConfigurations" (edit)="onEdit($event)" (view)="onView($event)" [loading]="loading()"></app-data-table>
  </ng-container>
  <ng-container ngProjectAs="form">
    @if (viewType() == 'add' || viewType() == 'edit') {
    <app-driver-form [driver]="selectedDriver()" (close)="onCloseForm()"></app-driver-form>
    }
    @if (viewType() == 'view') {
    <app-driver-detail [driver]="selectedDriver()" (close)="onCloseForm()"></app-driver-detail>
    }
  </ng-container>
</app-layout>
